#header {
  margin-bottom: 50px;
}

#footer {
  width: 100%;
}

.footer-box {
  margin: 10px;
  float: left;
  width: 20%;
}

.footer-box>p {
  color: green;
}

.un-order-list {
  list-style-type: none;
}

#content-box {
  margin: 80px 20px 200px 20px;
}

@media screen and (max-width: 768px) {
    #content-box {
        margin-top: 250px;
    }
}


#hero {
  background-image: url('../images/hero-pic.jpeg');
  opacity: 0.5;
  min-height: 400px;
  position: relative;
  display: table;
  width: 100%;
  padding: 40px 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}
caption {
  text-align: center;
}
/*th, td {
  margin: 10px;
}*/
.btn-default {
  margin-right: 10px;
}
