<div ng-controller="mainController">
    <section id="hero" data-type="background" data-speed="5">
        <article>
            <div class="container-fluid clearfix">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 hero-text">
                        <h1>Happy dog, our proud.</h1>
                        <p class="lead">Now sign up for a $10 off </p>
                        <p><a class="btn btn-lg btn-danger" href="/" role="button">Sign up now &raquo;</a></p>
                    </div>
                </div>
            </div>
        </article>
        <form>
            <div class="table-responsive">
                <table>
                    <caption>
                        <h2>Find your sitter now</h2>
                    </caption>
                    <tbody>
                        <tr>
                            <td class="col-md-7">For When You're Away</td>
                            <td class="col-md-5">For When You're At Work</td>
                        </tr>
                        <tr>
                            <td class="col-md-7">
                                <button type="button" class="btn btn-default btn-md col-md-3">Dog Boarding</button>
                                <button type="button" class="btn btn-default btn-md col-md-3">House Sitting</button>
                                <button type="button" class="btn btn-default btn-md col-md-3">Drop-In visit</button>
                            </td>
                            <td class="col-md-5">
                                <button type="button" class="btn btn-default btn-md col-md-5">Doggy Day Care</button>
                                <button type="button" class="btn btn-default btn-md col-md-5">Dog Walking</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-7">Dog Boarding near</td>
                            <td class="col-md-5">For these days</td>
                        </tr>
                        <tr>
                            <td class="form-group col-md-7">
                                <input type="text" class="form-control" placeholder="Zip Code or Address" />
                            </td>
                            <td class="form-group col-md-5">
                                <!-- need to change the ng show flag here later -->
                                <div ng-show='true'>
                                    <input type="date" class="col-md-5" placeholder="Drop off" />
                                    <input type="date" class="col-md-5" placeholder="Pick up" />
                                </div>
                                <div class="btn-group" role="group" arial-label="..." ng-show="false">
                                    <button type="button" class="btn btn-default">S</button>
                                    <button type="button" class="btn btn-default">M</button>
                                    <button type="button" class="btn btn-default">T</button>
                                    <button type="button" class="btn btn-default">W</button>
                                    <button type="button" class="btn btn-default">T</button>
                                    <button type="button" class="btn btn-default">F</button>
                                    <button type="button" class="btn btn-default">S</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-7">
                                My Dog Size
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-7">
                                <button type="button" class="btn btn-default btn-md col-md-2"><b>Small</b>
                                    <br>0-15lbs</button>
                                <button type="button" class="btn btn-default btn-md col-md-2"><b>Medium </b>
                                    <br>16-40lbs</button>
                                <button type="button" class="btn btn-default btn-md col-md-2"><b>Large</b>
                                    <br> 41-100lbs</button>
                                <button type="button" class="btn btn-default btn-md col-md-2"><b>Giant</b>
                                    <br>101+lbs</button>
                            </td>
                            <td class="col-md-5">
                                <button type="button" class="btn btn-success col-md-10">Search</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </section>
    <h1>Something here</h1>
    <div class="well well-lg">
        <form>
            <div class="table-responsive">
                <table>
                    <caption>
                        <h2>Find your sitter now</h2>
                    </caption>
                    <tbody>
                        <tr>
                            <td class="col-md-7">For When You're Away</td>
                            <td class="col-md-5">For When You're At Work</td>
                        </tr>
                        <tr>
                            <td class="col-md-7">
                                <button type="button" class="btn btn-default btn-md col-md-3">Dog Boarding</button>
                                <button type="button" class="btn btn-default btn-md col-md-3">House Sitting</button>
                                <button type="button" class="btn btn-default btn-md col-md-3">Drop-In visit</button>
                            </td>
                            <td class="col-md-5">
                                <button type="button" class="btn btn-default btn-md col-md-5">Doggy Day Care</button>
                                <button type="button" class="btn btn-default btn-md col-md-5">Dog Walking</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-7">Dog Boarding near</td>
                            <td class="col-md-5">For these days</td>
                        </tr>
                        <tr>
                            <td class="form-group col-md-7">
                                <input type="text" class="form-control" placeholder="Zip Code or Address" />
                            </td>
                            <td class="form-group col-md-5">
                                <!-- need to change the ng show flag here later -->
                                <div ng-show='true'>
                                    <input type="date" class="col-md-5" placeholder="Drop off" />
                                    <input type="date" class="col-md-5" placeholder="Pick up" />
                                </div>
                                <div class="btn-group" role="group" arial-label="..." ng-show="false">
                                    <button type="button" class="btn btn-default">S</button>
                                    <button type="button" class="btn btn-default">M</button>
                                    <button type="button" class="btn btn-default">T</button>
                                    <button type="button" class="btn btn-default">W</button>
                                    <button type="button" class="btn btn-default">T</button>
                                    <button type="button" class="btn btn-default">F</button>
                                    <button type="button" class="btn btn-default">S</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-7">
                                My Dog Size
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-7">
                                <button type="button" class="btn btn-default btn-md col-md-2"><b>Small</b>
                                    <br>0-15lbs</button>
                                <button type="button" class="btn btn-default btn-md col-md-2"><b>Medium </b>
                                    <br>16-40lbs</button>
                                <button type="button" class="btn btn-default btn-md col-md-2"><b>Large</b>
                                    <br> 41-100lbs</button>
                                <button type="button" class="btn btn-default btn-md col-md-2"><b>Giant</b>
                                    <br>101+lbs</button>
                            </td>
                            <td class="col-md-5">
                                <button type="button" class="btn btn-success col-md-10">Search</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>