<div class="page-signup">
    <div class="signup-body">
        <div class="container">
            <div class="form-container">
                <button class="btn btn-primary signbar " ng-click="callOauthProvider('/api/auth/facebook')"><i class="fa fa-facebook-official"></i> Sign Up with Facebook</button>
                <section>
                  <form name="signupForm" class="form-horizontal form-validation" ng-submit="signup()">

                  </form>
                </section>
                <h1>Something here</h1>
                <section>
                    <p class="text-center text-muted">Already have an account?<a href="#/login">Log in now</a></p>
                </section>
            </div>
        </div>
    </div>
</div>